appdirs==1.4.4
asgiref==3.3.1
Babel==2.9.0
cffi==1.14.4
cryptography==3.3.1
distlib==0.3.1
Django==3.1.7
django-cors-headers==3.6.0
django-money==0.11.4
django-phonenumber-field==5.0.0
django-rest-knox==4.1.0
djangorestframework==3.12.2
filelock==3.0.12
mysqlclient==2.0.3
phonenumbers==8.12.15
Pillow==8.1.0
py-moneyed==1.0
pycparser==2.20
pytz==2020.5
six==1.15.0
sqlparse==0.4.1
virtualenv==20.4.2
